# Managed by Ansible
global:
  scrape_interval: 15s
  evaluation_interval: 15s

scrape_configs:
  - job_name: dgx_spark
    static_configs:
      - targets: ["{{ dgx_ip }}:9100"]
        labels:
          device: dgx_spark

  - job_name: orin_nano
    static_configs:
      - targets: ["localhost:9100"]
        labels:
          device: orin_nano

  - job_name: crucible_nodes
    static_configs:
      - targets:
          - "{{ jm1_ip }}:9100"
          - "{{ jm2_ip }}:9100"
          - "{{ jm3_ip }}:9100"
          - "{{ jm4_ip }}:9100"
        labels:
          device: jetson_mate
